<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css" media="screen,projection">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div class="jumbotron">
	<div class="container">
		<div class="title" style="text-align:center">
			<h2 style="font-size:24px">
				Our Chefs
			</h2>
			<hr width="50%" size="8" align="center"></hr></br>
			<% if current_user.pro %>
				<form action="/chef/pro/menu" method="GET">
      				<input class="form-control mr-sm-2" type="text" name="city" placeholder="Search for Top Rated Chefs in your city" aria-label="Search">
      				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    			</form>
			<% end %>
		</div></br>

		<h2 style="font-size:20px; text-align:center">
			Top Chefs in <%= @city %>
		</h2>

		<% @chefs.each do |c| %>
			<% if c.chef_items != 0 %>
				<div class="userimage">
    				<img src="<%= c.imgDataChef %>" style="max-width: 150px; height: auto" class="rounded"/>
    			</div>
				<h2 style="font-size:20px">
					<%= c.username %>
				</h2>
				<p>
					Location: <%= c.city %></br>
					Rating: <%= c.rating_overall %> Stars</br>
					Rated by <%= c.total_ratings %> Customers
				</p>
				<form action="/chef/menu" method="GET">
					<input type="submit" name="chef" value="<%= c.username %>'s menu" class="btn btn-secondary btn-sm" role="button">
					<input type="hidden" name="id" value="<%= c.id %>">
					<input type="hidden" name="username" value="<%= c.username %>">
				</form></br>
				<hr width="50%" size="8" align="left"></hr></br>
			<% end %>
		<% end %>
	</div>
</div>