<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css" media="screen,projection">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<!-- 
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
  	<% if current_user.chef %>
	    <div class="carousel-item active">
	      <img class="d-block w-100" src="..." alt="First slide">
	    </div>
	    <div class="carousel-item">
	      <img class="d-block w-100" src="..." alt="Second slide">
	    </div>
	    <div class="carousel-item">
	      <img class="d-block w-100" src="..." alt="Third slide">
	    </div>
	<% end %>
  </div>
</div> -->

<div class="user_info" style="background-color: #FFF6EC; padding-top: 20px; padding-left: 20px">
	<label class="userinfo">
		<div class="userimage">
			<% if current_user.chef %>
    			<img src="<%= current_user.imgDataChef %>" style="max-width: 150px; height: auto" class="rounded"/>
    		<% else %>
    			<img src="<%= current_user.imgDataUser %>" style="max-width: 150px; height: auto" class="rounded"/>
    		<% end %>
    	</div></br>
      	<p align="left" style="font-size:14px">
      		<b>user:</b> <%= current_user.username %></br>
			<b>email:</b> <%= current_user.email %>
      	</p>
      	<form action="/save_profile" method="POST" enctype="multipart/form-data">
      		<div id="upload_button">
      			<label>
      				Profile Picture:
	    			<input type="file" name="file"></br>
	    			<span class="btn btn-secondary btn-small">Choose</span>
	    			<input type="submit" name="submit" value="submit" class="btn btn-secondary btn-small" role="button">
	    		</label>
	    	</div>
		</form>
		<% if current_user.chef %>
			<div class="pending_orders">
				<form action="/pending/orders" method="GET">
					<p>
						<input type="submit" name="Pending Orders" value="Pending Orders" class="btn btn-secondary" role="button">
					</p>
				</form>
			</div>
		<% end %>
	</label>
</div>

<% if current_user.chef %>
	<div class="jumbotron">
		<div class="container">
			<div class="header" style="text-align: center">
				<h1 style="font-size:24px">
					Menu Items
				</h1>
			</div>
			<% @menus.each do |v| %>
				<div class="menu_entry">
					<% if v.cook_id == current_user.id %>
						<hr width="50%" size="8" align="center"></hr>
						<h2 style="font-size:20px">
							<b><%= v.meal_title %></b>
						</h2>
						<p>
							<b>Description:</b> <%= v.meal_description %></br>
							<b>Price:</b> $<%= v.price %></br>
							<b>Time to Prepare:</b> <%= v.time %> minutes
						</p>
						<img src="<%= v.imgData %>" style="max-width: 200px; height: auto" class="rounded"/></br>
						<div class="buttons">
							<form action="/save_image" method="POST" enctype="multipart/form-data">
								<div id="upload_button">
									<label>
										Menu Image:
		    							<input type="file" name="file"></br>
		    							<span class="btn btn-secondary btn-small">Choose</span>
		    							<input type="submit" name="submit" value="submit" class="btn btn-secondary btn-small" role="button">
		    							<input type="hidden" name="id" value=<%= v.id %>>
		    						</label>
		    					</div>
							</form>
								<form action="/delete/menu_item" method="POST">
									<input type="submit" name="Delete Item" value="Delete Item" class="btn btn-secondary btn-small" role="button">
									<input type="hidden" name="id" value=<%= v.id %>>
								</form></br>
						</div>
					<% end %>
				<% end %>
				<div class="new_menu_button">
					<form action="/new_meal/new" method="GET">
						<p align="right">
							<input type="submit" name="New Menu Item" value="New Menu Item" class="btn btn-secondary" role="button">
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
<% end %>

<!-- <div class="jumbotron"> -->
	<div class="card-container" style="margin: auto">
	  	<div class="header" style="text-align: center">
	  		<h1 style="font-size:24px">
	  			Recent Orders
	  		</h1>
	  	</div>
		<div class="card-deck" style="margin: auto; display: flex; justify-content: center; padding-bottom: 4rem">
			<% @orders.each do |o| %>
				<div class="card" style="min-width: 40rem; max-width: 40rem;">
					<div class="card-body text-dark">
<!-- 						<div class="card-header" style="text-align: center"><b><%= o.plate_title %></b></div> -->
						<h5 class="card-title">
							<b><%= o.plate_title %></b>
						</h5>

						<p class="card-text">
							<b>Description:</b> <%= o.plate_description %></br>
							<b>Price:</b> $<%= o.plate_price %></br>
							<b>Time to prepare:</b> <%= o.plate_time %> minutes</br>

							<% @chefs.each do |c| %>
								<% if o.chef_id == c.id %>
									<b>Chef:</b> <%= c.username %></br>
								<% end %>
							<% end %>

							<% if o.delivery %>
								<b>Delivery</b>
							<% else %>
								<b>Carry Out</b>
							<% end %>
						</p>

						<div class="order-again">
							<form action="/display/order/"" method="GET">
								<input type="hidden" name="plate_id" value= "<%= o.plate_id %>">
								<input type="hidden" name="plate_title" value= "<%= o.plate_title %>">
								<input type="hidden" name="plate_description" value= "<%= o.plate_description %>">
								<input type="hidden" name="plate_price" value= "<%= o.plate_price %>">
								<input type="hidden" name="plate_time" value= "<%= o.plate_time %>">
								<input type="hidden" name="chef_id" value= "<%= o.chef_id %>">
								<input type="hidden" name="customer_id" value= "<%= current_user.id %>">
								<input type="hidden" name="Delivery" value= "<%= o.delivery %>">
								<input type="submit" name="Order" value="Order Again" class="btn btn-secondary" role="button">
							</form>
						</div></br>

						<% if !o.plate_rated %>
							<div class="order-rating">
								<form action="/order/rating" method="POST">
									<p style="font-size:14px">
										Rate your Order:</br>
										<input type="number" name="plate_rating" min="1" max="5">
										<input type="hidden" name="plate_id" value= "<%= o.plate_id %>">
										<input type="hidden" name="order_id" value= "<%= o.id %>">
										<input type="submit" name="Order" value="Submit" class="btn btn-secondary btn-small" role="button">
									</p>
								</form>
							</div>
						<% end %>

						<% if !o.chef_rated %>
							<div class="chef-rating">
								<form action="/chef/rating" method="POST">
									<p style="font-size:14px">
										Rate the Chef: </br>
										<input type="number" name="chef_rating" min="1" max="5">
										<input type="hidden" name="plate_id" value= "<%= o.plate_id %>">
										<input type="hidden" name="order_id" value= "<%= o.id %>">
										<input type="hidden" name="chef_id" value= "<%= o.chef_id %>">
										<input type="submit" name="Order" value="Submit" class="btn btn-secondary btn-small" role="button">
									</p>
								</form>
							</div>
						<% end %>

						<div class="delete-recent">
							<form action="/delete/recent_order" method="POST">
								<button style="border: none; padding: 0; background: none;">&times;</button>
								<input type="hidden" name="id" value="<%= o.id %>">
							</form>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
<!-- </div> -->