<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css" media="screen,projection">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div class="jumbotron">
	<div class="container">
		<h2 style="font-size:24px; text-align: center">
			<%= @chef %>'s Menu
		</h2>
		
		<% @menu.each do |m| %>
			<hr width="50%" size="8"></hr>
			<h2 style="font-size:20px">
				<b><%= m.meal_title %></b>
			</h2>
			<p>
				<b>Rating:</b> <%= m.rating_overall %> Stars</br>
				Rated by <%= m.total_ratings %> Customers
			</p>
			<p style="font-size:14px">
				<b>Description:</b> <%= m.meal_description %></br>
				<b>Price:</b> $<%= m.price %></br>
				<b>Time to prepare:</b> <%= m.time %> minutes</br>
			</p>
			<img src="<%= m.imgData %>" style="max-width: 200px; height: auto" class="rounded"/></br></br>
			<form action="/display/order/" method="GET">
				<label>
		            <input type="checkbox" name="Delivery" />
		            <span>Delivery (Additional $<%= m.delivery_price %> fee)</span>
		        </label></br>

		        <label>
		            <input type="checkbox" name="Carry Out" />
		            <span>Carry Out</span>
          		</label></br></br>

				<input type="hidden" name="plate_id" value= "<%= m.id %>">
				<input type="hidden" name="plate_title" value= "<%= m.meal_title %>">
				<input type="hidden" name="plate_description" value= "<%= m.meal_description %>">
				<input type="hidden" name="plate_price" value= "<%= m.price %>">
				<input type="hidden" name="plate_time" value= "<%= m.time %>">
				<input type="hidden" name="chef_id" value= "<%= m.cook_id %>">
				<input type="hidden" name="customer_id" value= "<%= current_user.id %>">
				<input type="hidden" name="delivery_price" value= "<%= m.delivery_price %>">
				<input type="submit" name="Select" value="Select" class="btn btn-secondary btn-sm" role="button">
			</form></br>
		<% end %>
	</div>
</div>